<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/static/mainStyles.css">


</head>
<body>

<div class="weatherContainer">
    <div class="cityInfo">
        <div id="searchContainer">
            <form id="weatherForm">
            <input type="text" id="citySearchbar" name="city" placeholder="Wpisz miasto..." value="">
            <button type="button" onclick="getWeather(document.getElementById('citySearchbar').value)">Sprawdź pogodę</button>
        </form>
        </div>
        <div>
            <h2 id="city">Miasto</h2>
            <h2 id="date">Data</h2>
            <h2 id="temperature">Temperatura</h2>
            <img src='' alt="Weather Icon" id="weatherIcon"><h2 id="conditions" style="display: inline-block;">Warunki</h2>
        </div>
    </div>
    <div class="middle"></div>

</div>

<div class="infoContainer">
    <div class="userPanel">
        <button onclick="toggleForms()" style="width:auto; border: none; background: none;">
            <img src="/static/assets/profile_icon.png" alt="Icon" class="icon">
        </button>

        <button onclick="document.getElementById('id02').style.display='block'" style="width:auto; border: none; background: none;">
            <img src="/static/assets/gear.png" alt="Icon" class="icon" style="display:none; border: none" id="settings">
        </button>

    </div>
    <div class="middlePanel">
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div class="futureWeather"></div>
</div>

<div id="id01" class="loginDialog">

    <div class="loginWindow animate" id="loginForm">
        <div class="loginImg">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="/static/assets/profile_icon.png" alt="Avatar" class="avatar">
        </div>

        <div class="loginCredentials">
            <label for="email"><b>E-mail:</b></label>
            <input type="email" placeholder="Enter Email" name="email" id="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="password" required>

            <form>
                <button type="button" class="loginButton" onclick="login()">Login</button>
            </form>
            <br>
            <form>
                <button type="button" class="loginButton" style="background-color: #107b54" onclick="register()">Register</button>
            </form>
        </div>
    </div>

    <form class="loginWindow animate" id="logoutForm" style="display:none;" action="/logout" method="post">
        <div class="loginImg">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="/static/assets/profile_icon.png" alt="Avatar Icon" class="avatar">
        </div>
        <div class="loginCredentials">
            <p>Welcome, User!</p>
            <button type="button" class="loginButton" onclick="logout()">Logout</button>
        </div>
    </form>
</div>


<div id="id02" class="loginDialog">
    <form class="loginWindow animate" id="settingsForm" style="display:block; height: 40%">
        <div class="themeSelector">
            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            <label for="themeSelect">Choose a theme:</label>
            <select id="themeSelect" onchange="changeTheme(this.value)">
                <option value="light">Light</option>
                <option value="dark">Dark</option>
                <option value="sky">Sky</option>
                <option value="nature">Nature</option>
            </select>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/mainScripts.js"></script>

</body>
</html>